# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list of popular languages of data science
- list of commonly used libraries for data science
- list of data science tools
- examples of arithmentic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R programming
3. Java
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. Tensorflow
4. Matplotlib

| Data Science Tools |
| ------------------- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Sahana H R